.clients-wrapper {
    border-radius: 12px 0px 0px 0px;
    background: #F8F8F8;
    box-shadow: 0px 1px 1px 0px rgba(34, 61, 71, 0.20), 0px 2px 2px 0px rgba(34, 61, 71, 0.14), 0px 1px 5px 0px rgba(34, 61, 71, 0.12);
}
.my-table {
    padding-top: 26px;
    padding-left: 32px;
    padding-bottom: 26px;
}
.table-content {
    border-radius: 4px 0px 0px 0px;
    border: 1px solid var(--material-theme-state-layers-light-surface-tint-opacity-016, rgba(103, 80, 164, 0.16));
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.20);
}
.table-content__static {
    border-radius: 4px 0px 0px 0px;
    cursor: pointer;
}
.table-content__dynamic--header {
    cursor: pointer;
}
.table-content__column, .table-content__checkbox {
    padding: 10px 16px;
}
.table-content__column.header, .table-content__checkbox.header {
    background-color: #F3F6FB;
}
.table-content__checkbox.list {
    border: 1px solid rgba(121, 116, 126, 0.16);
    border-left: 0;
    border-bottom: 0;
}
.table-content__column.list {
    border: 1px solid rgba(121, 116, 126, 0.16);
    border-left: 0;
    width: 100%;
    border-bottom: 0;
}
.table-content__column {
    font-size: 14px;
    min-width: 200px;
}
.table-content__column-icon {
    padding-left: 8px;
    background-color: #F3F6FB;
}
.table-content__column-icon-hover {
    padding-right: 10px;
    display: none;
}
.table-content__column.header span,
.table-content__column.list span {
    white-space: nowrap;
}
.table-content__dynamic--header {
    border-left: 1.5px solid #000;
}
table thead, .table-content__column {
    height: 45px;
}
.table-content__static .table-content__column {
    border-right: 0;
}
input[type="checkbox"]:checked {
    accent-color: #1B1716;
}
.table-content__column--sort {
    padding-left: 8px;
    width: 18px;
}